body {
  font-size: 0.8rem;
}

.commons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.authsidebars {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authsidebars_brand {
  background-color: black;
}

.authsidebars_footer {
  width: 100%;
  margin: 0px;
  bottom: 10px;
  padding: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.authsidebars_footer p {
  padding: 0px;
  margin: 0px;
}

.btn_next {
  margin-top: 40px;
  margin-bottom: 8px;
  border-radius: 3rem;
  border-color: black;
  background-color: black;
}

.btn_next a {
  color: white;
  text-decoration: none;
}

.link_next,
.link_next:hover,
.link_next:visited {
  color: black;
  font-size: 0.7rem;
  text-decoration: none;
}

.auth_form {
  margin-top: 15rem;
}

#form_btn_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form_btn_group label {
  font-size: 0.7rem;
  font-weight: bold;
}

form p {
  font-weight: bold;
}

.authsiders_social {
  color: #fff;
  bottom: 0px;
  right: 0px;
  display: flex;
  position: absolute;
  flex-direction: row;
  padding: 1rem;
}

.authsiders_social a {
  flex-direction: row;
  margin-left: 1rem;
  display: flex;
  width: 5rem;
  color: #fff;
  text-decoration: none;
}

.auth_social_image {
  width: 1rem;
  height: 1rem;
}

.auth_logo_mukozi {
  width: 20rem;
  height: 20rem;
}

/* Verify html css */
.div_codes {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.code_inputs {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
}
