<!-- The sidebar with the image -->
<div class="authsidebars authsidebars_brand">
  <!-- The logo image -->
  <img
    src="../../assets/logos/mukozi_logo_white_official.png"
    class="img-fluid auth_logo_mukozi"
    alt="Responsive image"
  />
  <!-- The social media links -->
  <div class="authsiders_social">
    <a href="#">
      <img
        src="./../../assets/icons/facebook.png"
        alt="facebook logo"
        id="facebooklogo"
        class="auth_social_image"
      />
      <p>Facebook</p>
    </a>
    <a href="#">
      <img
        src="./../../assets/icons/twitter.png"
        alt="twitter logo"
        id="twitterlogo"
        class="auth_social_image"
      />
      <p>Twitter</p>
    </a>
  </div>
</div>
