<!-- The sidebar with the image -->
<div class="authsidebars authsidebars_brand">
  <!-- The logo image -->
  <img
    src="../../assets/images/official_white_mukozi.png"
    class="img-fluid"
    alt="Responsive image"
  />
  <!-- The social media links -->
  <div class="authsiders_social">
    <div>
      <img src="#" alt="facebook logo" id="facebooklogo" />
      <label for="facebooklogo">Facebook</label>
    </div>
    <div>
      <img src="#" alt="twitter logo" id="twiiterlogo" />
      <label for="twiiterlogo">Twitter</label>
    </div>
  </div>
</div>
