<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Adding the stylesheets -->
    <link rel="stylesheet" href="./../../css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="./../../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <p>Profile Nav</p>
    <!-- Adding the js files -->
    <script src="./../../js/bootstrap/jquery.js"></script>
    <script src="./../../js/bootstrap/bootstrap.js"></script>
    <script src="./../../js/index.js"></script>
  </body>
</html>
