.content_profile {
  width: 70%;
  height: 100%;
  margin-left: 5rem;
}

.profile_nav {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 0.8rem;
  height: 3rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.profile_nav_tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile_nav_tab_active {
  color: #000;
  background-color: #fff;
  border-bottom: 2px solid #000;
}

.profile_nav_tab_inactive {
  color: #fff;
  background-color: #000;
  border-bottom: 2px solid #fff;
  border-right: 1px solid #fff;
}

/* The form styling */
.profile_form {
  width: 80%;
  height: 100%;
  margin-left: 5rem;
  margin-top: 2rem;
}

.profile_form_description {
  color: #000;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile_form_description p {
  padding: 0px;
  margin: 0px;
}

.information_share {
  font-size: 0.6rem;
}

.profile_form label {
  font-weight: bold;
  font-size: 0.8rem;
}

.form_btn_next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile_footer {
  position: absolute;
  bottom: 0px;
  height: 5vh;
  width: 100vw;
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
}

.profile_footer p {
  font-size: 0.8rem;
  padding: 0px;
  margin: 0px;
}
